
//****Footer****//

footer {
    display: flex;
    flex-direction: column;
    background-color: $background-footer;
    color: white;
    padding: 22px 25px;
    gap: 7px;

    img {
        width: 40%;
        padding-bottom: 16px;
        filter: invert(1);
    }
    .article-footer {
        display: flex;
        font-size: 16px;
        font-weight: 500;
        .fa-handshake-angle {
            display: flex;
            padding-right: 5px;
            }
        .fa-utensils {
            display: flex;
            padding-right: 11px;
        }
    }
}