* {
  font-family: "roboto", sans-serif;
  margin: 0;
}

img {
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
}

.restaurants__card__nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  top: 15px;
}
.restaurants__card__nouveau p {
  color: #008766;
  font-weight: 600;
}

.button-CTA {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  padding: 15px 20px;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.button-CTA:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
header .fa-arrow-left {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 24px;
}
header .header__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}
header .header__img-container img {
  height: 40px;
}
header .header__location-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  gap: 17px;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
}
@media screen and (min-width: 768px) {
  header .header__location-container {
    box-shadow: none;
  }
}

.reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.reservation .reservation__info-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 35px;
  gap: 15px;
}
.reservation .reservation__info-text h1 {
  font-size: 24px;
  text-align: center;
  padding: 0px 42px 0px 42px;
  font-weight: 700;
}
.reservation .reservation__info-text p {
  font-size: 18px;
  text-align: center;
  font-weight: 300;
}

.fonctionnement {
  padding: 20px;
  margin-bottom: 40px;
  background: white;
}
@media screen and (min-width: 768px) {
  .fonctionnement {
    width: 88%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    width: 97%;
  }
}

.fonctionnement__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container {
    display: grid;
    grid-template-columns: repeat(3, 29%);
    justify-content: center;
    gap: 30px;
    grid-template-areas: "title title title" "card1 card2 card3";
  }
  .fonctionnement__container .title {
    grid-area: title;
  }
  .fonctionnement__container .card1 {
    grid-area: card1;
  }
  .fonctionnement__container .card2 {
    grid-area: card2;
  }
  .fonctionnement__container .card3 {
    grid-area: card3;
  }
}
.fonctionnement__container span {
  font-weight: 500;
  position: absolute;
  left: -10px;
  border-radius: 50px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.fonctionnement__container .nav__title {
  font-size: 24px;
  padding: 20px 0px 20px 0px;
}
.fonctionnement__container .article__fonctionnement {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #f6f6f6;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  height: 72px;
  border-radius: 20px;
  padding-left: 30px;
  gap: 20px;
  cursor: pointer;
}
.fonctionnement__container .article__fonctionnement .fa-solid {
  font-weight: 900;
}
.fonctionnement__container .article__fonctionnement .fa-solid.fa-mobile-screen-button {
  color: #7e7e7e;
}
.fonctionnement__container .article__fonctionnement .fa-solid.fa-list-ul {
  color: #7e7e7e;
}
.fonctionnement__container .article__fonctionnement .fa-solid.fa-store {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 15px;
  background-color: #f6f6f6;
}
.restaurants h3 {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .restaurants {
    display: grid;
    width: 100%;
    justify-content: center;
    padding: 50px 0px;
    gap: 40px 100px;
    grid-template-columns: repeat(2, 41%);
    grid-template-areas: "title title" "card1 card2" "card3 card4";
  }
  .restaurants .title {
    grid-area: title;
  }
  .restaurants .card1 {
    grid-area: card1;
  }
  .restaurants .card2 {
    grid-area: card2;
  }
  .restaurants .card3 {
    grid-area: card3;
  }
  .restaurants .card4 {
    grid-area: card4;
  }
}

.restaurant__card {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.restaurant__card img {
  display: flex;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  height: 220px;
}
.restaurant__card .card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
  gap: 5px;
  padding: 15px 0px 15px 0px;
}
.restaurant__card .card-content .restaurant__card__content__heart {
  position: relative;
  cursor: pointer;
}
.restaurant__card .card-content .restaurant__card__content__heart i {
  position: absolute;
  right: 20px;
  top: -40px;
  font-size: 25px;
}
.restaurant__card .card-content .restaurant__card__content__heart .fa-solid {
  opacity: 0;
}
.restaurant__card .card-content .restaurant__card__content__heart .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.restaurant__card .card-content h2 {
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
}
.restaurant__card .card-content p {
  font-size: 17px;
  font-weight: 300;
  padding-left: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
  gap: 7px;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
  }
}
footer .footer-logo h2 {
  padding-bottom: 16px;
  font-size: 18px;
  font-family: shrikhand;
  font-weight: 700;
}

.article-footer {
  display: flex;
  font-size: 16px;
  font-weight: 500;
}
.article-footer .fa-handshake-angle {
  display: flex;
  padding-right: 5px;
}
.article-footer .fa-utensils {
  display: flex;
  padding-right: 11px;
}

.acceuil-image-restaurant {
  width: 100%;
  height: 190px;
}
.acceuil-image-restaurant img {
  width: 100%;
  z-index: -1;
  position: absolute;
  object-fit: cover;
}

/*h1 + coeur*/
.acceuil-restaurant-titre {
  position: relative;
  display: flex;
  top: 0%;
  right: 0%;
}
.acceuil-restaurant-titre h1 {
  font-size: 28px;
  font-weight: 400;
  padding: 20px 0px 10px 20px;
  font-family: shrikhand;
}
.acceuil-restaurant-titre i {
  position: absolute;
  top: 27px;
  right: 25px;
  font-size: 24px;
  cursor: pointer;
}
.acceuil-restaurant-titre .fa-solid {
  opacity: 0;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
}
.acceuil-restaurant-titre .fa-solid:hover {
  opacity: 1;
}

.container-menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0px 0px;
  width: 100%;
}

.card-menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 15px 15px 20px 15px;
  gap: 10px;
}
.card-menu h3 {
  font-weight: 300;
}
.card-menu .ligne {
  color: #99E2D0;
  border-bottom: 3px solid;
  width: 12%;
}
.card-menu .card-menu__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f6f6f6;
  gap: 15px;
}
.card-menu .card-menu__container .card-menu__container__carte {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: white;
  border-radius: 15px;
  height: 60px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
}
.card-menu .card-menu__container .card-menu__container__carte:hover .card-menu__container__carte-prix h2 {
  overflow: hidden;
}
.card-menu .card-menu__container .card-menu__container__carte:hover .card-menu__container__carte-prix p {
  overflow: hidden;
}
.card-menu .card-menu__container .card-menu__container__carte:hover .card-menu__container__carte-prix {
  transform: translate(0px);
}
.card-menu .card-menu__container .card-menu__container__carte:hover .card-menu__container__carte-prix .fa-circle-check {
  color: white;
  transform: rotate(2turn);
}
.card-menu .card-menu__container .card-menu__container__carte:hover .card-menu__container__carte-prix span {
  background-color: #99e2d0;
}
.card-menu .card-menu__container .card-menu__container__carte-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  padding: 0 0 0 15px;
  gap: 5px;
}
.card-menu .card-menu__container .card-menu__container__carte-text h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
}
.card-menu .card-menu__container .card-menu__container__carte-text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  font-weight: 300;
}
.card-menu .card-menu__container__carte-prix {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 700;
  transform: translateX(45px);
  transition: all 0.4s;
}
.card-menu .card-menu__container__carte-prix p {
  padding-top: 25px;
  margin-right: 10px;
}
.card-menu .card-menu__container__carte-prix span {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60px;
}
.card-menu .card-menu__container__carte-prix span .fa-circle-check {
  color: transparent;
  transition: all 0.5s;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 0px 55px;
}

.container__loader {
  background-color: rgba(234, 234, 234, 0.5764705882);
  height: 100%;
  width: 100%;
  line-height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fin-loader 2s linear forwards;
}
.container__loader .loader {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: 10px solid rgba(255, 255, 255, 0.4);
  border-bottom: 10px solid #008766;
  border-top: 10px solid #008766;
  border-left: 10px solid #008766;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fin-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    display: none;
  }
}

@keyframes anim-card {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.entrees {
  animation: anim-card 0.4s;
}

.plats {
  animation: anim-card 0.8s;
}

.desserts {
  animation: anim-card 1.2s;
}/*# sourceMappingURL=style.css.map */