//****Mixin****//

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin box-shadow {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@mixin box-shadow_btn {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}
@mixin header_box-shadow {
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
