//****Variables****//

$background-header: #eaeaea;
$background-primary: #f6f6f6;
$card-nouveau: #99e2d0;
$background-button: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
$background-footer: #353535;
